doctype html
html
  head
    title User Account System
  body
    block content
      h1(style='color: blue;') Welcome to the User Account System
      p
        a(href='/user/login', style='color: green;') Login
      p
        a(href='/user/register', style='color: red;') Register
