extends layout

block content
  h1 Register
  if query && query.error
    script.
      alert("#{query.error}")
      
  form(method="post", action="/user/register")
    div
      label(for="username") Username:
      input(type="text", name="username")
    div
      label(for="password") Password:
      input(type="password", name="password")
    div
      button(type="submit") Register

  p
    a(href='/') Back To Home Page
